@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Rubik:wght@300&display=swap');

:root {
    --back: #101011;
    --back-up: #404044;
    --fore: #e2e2e2;
}

body {
    margin: 0;
    background-color: var(--back);
    color: var(--fore);
    font-family: 'Rubik', sans-serif;
}

.header {
    text-align: center;
    vertical-align: middle;
    background-image: url("assets/head_bk.jpg");
    padding: 4em;
}

.header h1 {
    color: white;
    font-size: 4em;
    font-family: 'Raleway', sans-serif;
}

.about,
.contact {
    background-color: var(--back-up);
    border-radius: 1rem;
    margin: .8em;
    padding: 1em 2em;
}
