@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Rubik:wght@300&display=swap');

:root {
    --back: #101011;
    --back-up: #404044;
    --light: #909090;
    --fore: #e2e2e2;
    --head-link: #7d80da;
    --link: #f45b69;
}

body {
    margin: 0;
    background-color: var(--back);
    color: var(--fore);
    font-family: 'Rubik', sans-serif;
}

a {
    color: var(--link);
}

hr {
    border: none;
    border-radius: 2px;
    height: 4px;
    background-color: var(--fore);
}

.nav {
    padding: 1.2em 1em;
}

.nav h2 {
    display: inline;
}

.nav .links {
    float: right;
}

.nav .links a {
    padding-left: .5em;
    color: var(--head-link);
}

.header {
    text-align: center;
    vertical-align: middle;
    background-image: url("assets/imgs/head_bk.jpg");
    padding: 4em;
}

.header h1 {
    color: white;
    font-size: 4em;
    font-family: 'Raleway', sans-serif;
}

.info {
    background-color: var(--back-up);
    border-radius: 1rem;
    margin: .8em;
    padding: 1em 2em;
}

table {
    border-collapse: collapse;

}

td,
th {
    padding: 1vmin;
    border: var(--light) solid .1em;
}

.projects tr {
    background-size: cover;
    background-position: center;
}
