@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-image: linear-gradient(to bottom, #000000, #302f31);
    height: 100vh;
    margin: 0;
    padding: 1em;
    overflow: hidden;
}

body {
    background-color: #ffffff;
    height: calc(100% - 3em);
    border-radius: 0.5em;
}

h1 {
    color: #e0e0e0;
    background-color: #302f31;
    text-align: center;
    padding: 1em 3em;
    display: inline-block;
    margin: 10px calc(50% - 8em);
    border-radius: 0.5em;
}

ul li {
    display: inline-block;
}

#windowbar {
  height: 1.5em;
  background-color: #d9d9d9;
  border-bottom: #c8c8c8 1px solid;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  vertical-align: middle;
  text-align: left;
}

#windowbar > button {
  display: inline-block;
  margin-top: 5px;
  width: 1em;
  height: 1.1em;
  border-radius: 50%;
  border: #c8c8c8 1px solid;
}

#r {
  margin-left: 5px;
}
