#title {
  font-size: 5em;
  display: inline-block;
  background-image: linear-gradient(90deg, #ffc935, #ff0000);
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: bottom;
}

a {
  text-decoration: none;
  color: #8f8f8f;
}

a:hover {
  color: #404040;
}
