#title {
  display: inline-block;
  background-image: linear-gradient(90deg, #ffc935, #ff0000);
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: bottom;
}

#title:hover {
  animation: box forwards 3s;
}

@keyframes box {
  0% {
    border: none;
  }
  25% {
    border-bottom: #000000 1px solid;
  }
  50% {
    border-right: #000000 1px solid;
  }
  75% {
    border-top: #000000 1px solid;
  }
  100% {
    border-left: #000000 1px solid;
  }
}